@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: rgb(54,56,77);
  background: radial-gradient(circle, rgba(54,56,77,1) 0%, rgba(27,29,48,1) 100%);
  font-family: roboto;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.attribution {
  position: aboslute;
  bottom: 0;
  padding: 1rem;
  color: #8f8f8f;
}

.attribution a {
  text-decoration: none;
  color: #d2d2d2;
  font-weight: bold;
}