.card {
  background-color: white;
  border-radius: 20px;
  max-width: 848px;
  width: 90%;
  padding: 1rem;
  margin: auto;
  display: flex;
  gap: 1rem;
  color: #242544;
}

.card main, .desktop {
  flex-grow: 1;
  width: 50%;
  flex-shrink: 1;
  display: flex;
}

.card .card__title {
  font-size: 3rem;
}

.desktop img {
  width: 100%;
}

.mobile {
  display: none;
}

.card main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.card .card__title {
  font-size: 3rem;
}

.card .card__benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__benefits-list li {
  display: flex;
  gap: 0.5rem;
}
.card__benefits-list li::before {
  content: ' ';
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../assets/images/icon-list.svg");
  flex-shrink: 0;
}

.card__form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__form div {
  display: flex;
  flex-direction: column;
}

.card__form label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  position: relative;
}

.card__form input {
  border-radius: 8px;
  padding: 1rem;
  font-family: roboto;
  border-width: 1px;
  font-size: 1rem;
}

.card__form button {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-family: roboto;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background: #242544;
  cursor: pointer;
}

input:invalid {
  outline: 0;
  border-color: #d9534f;
  border-width: 1px;
  border-style: solid;
  background-color: #FFE8E6;
  color: #d9534f;
  position: relative;
}

label:has(~input:invalid)::after {
  content: 'Valid email required';
  position: absolute;
  right: 0;
  color: #d9534f;
}

form:valid button {
  background: rgb(255,84,120);
  background: linear-gradient(90deg, rgba(255,84,120,1) 0%, rgba(255,105,62,1) 100%);
}


@media (min-width: 858px) {
  html {
    font-size: 16px;
  }
}


@media (min-width: 576px) and (max-width: 858px) {
  html {
    font-size: 14px;
  }

  .card .card__title {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .desktop {
    display: none;
  }

  .card {
    flex-direction: column;
    border-radius: 0;
    padding: 0;
    align-items: center;
    width: 100%;
  }

  .card main {
    width: 100%;
    padding-top: 0;
  }

  .card .card__title {
    font-size: 2rem;
  }

  .mobile {
    display: flex;
    width: 100%;
  }

  .mobile img {
    width: 100%;
  }

  html {
    font-size: 16px;
  }
}